aiohttp
aiosignal
asgiref
async-timeout
attrs
backports.zoneinfo
certifi
charset-normalizer
contourpy
cycler
Django
django-cors-headers
django-environ
fonttools
frozenlist
gunicorn
idna
importlib-resources
install
kiwisolver
matplotlib
multidict
numpy
openai
packaging
Pillow
pyparsing
python-dateutil
requests
six
sqlparse
tqdm
typing-extensions
urllib3
yarl
zipp
python-dotenv
wheel
setuptools
fastai==1.0.61